In [40]:
import numpy as np
import pandas as pd
import nltk
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.preprocessing import LabelEncoder
from sklearn.naive_bayes import GaussianNB
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import confusion_matrix,accuracy_score,classification_report
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier

In [5]:
data=pd.read_csv('spam.csv',encoding='latin-1')

In [6]:
data.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [8]:
data=data.drop(['Unnamed: 2','Unnamed: 3','Unnamed: 4'],axis=1)

In [9]:
data.head()

     v1                                                 v2
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [15]:
data['count']=0
for i in range(0,len(data)):
  data.loc[i,'count']=len(data.loc[i,'v2'])

In [16]:
data.head()

     v1                                                 v2  count
0   ham  Go until jurong point, crazy.. Available only ...    111
1   ham                      Ok lar... Joking wif u oni...     29
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...    155
3   ham  U dun say so early hor... U c already then say...     49
4   ham  Nah I don't think he goes to usf, he lives aro...     61

In [23]:
corpus=[]
ps=nltk.PorterStemmer()
import re
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

In [25]:
for i in range(0,len(data)):

  msg = data['v2'][i]
  msg = re.sub('\b[\w\-.]+?@\w+?\.\w{2,4}\b', 'emailaddr', data['v2'][i])
  msg = re.sub('(http[s]?\S+)|(\w+\.[A-Za-z]{2,4}\S*)', 'httpaddr', data['v2'][i])
  msg = re.sub('([A-Z]{3}|[A-Z]?[\$€¥])?\s?(\d{1,3}((,\d{1,3})+)?(.\d{1,3})?(.\d{1,3})?(,\d{1,3})?)', 'moneysymb',data['v2'][i])
  msg = re.sub('\b(\+\d{1,2}\s)?\d?[\-(.]?\d{3}\)?[\s.-]?\d{3}[\s.-]?\d{4}\b', 'phonenumbr', data['v2'][i])
  msg = re.sub('\d+(\.\d+)?', 'numbr', data['v2'][i])
    
  msg = re.sub('[^\w\d\s]', ' ', data['v2'][i])
  msg=msg.lower()
  msg=msg.split()
  msg=[ps.stem(word)for word in msg if not word in set(nltk.corpus.stopwords.words('english'))]
  msg=' '.join(msg)
  corpus.append(msg)

In [27]:
cv=CountVectorizer()
x=cv.fit_transform(corpus).toarray()

In [28]:
x

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]])

In [29]:
le=LabelEncoder()
y=le.fit_transform(data['v1'])

In [31]:
y[1]

0

In [32]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=0)

In [41]:
Bayes_class=GaussianNB()
rf=RandomForestClassifier(n_estimators=1000)
dt=DecisionTreeClassifier()
kn=KNeighborsClassifier()
lg=LogisticRegression()

In [43]:
Bayes_class.fit(x_train,y_train)
rf.fit(x_train,y_train)
dt.fit(x_train,y_train)
kn.fit(x_train,y_train)
lg.fit(x_train,y_train)

LogisticRegression()

In [45]:
bayes_predict=Bayes_class.predict(x_test)
rf_predict=rf.predict(x_test)
dt_predict=dt.predict(x_test)
kn_predict=kn.predict(x_test)
lg_predict=lg.predict(x_test)

In [46]:
print(f'Accuracy percentage for Bayes-{accuracy_score(y_test,bayes_predict)*100}')
print(f'Accuracy percentage for Random Forest-{accuracy_score(y_test,rf_predict)*100}')
print(f'Accuracy percentage for Decision Tree-{accuracy_score(y_test,dt_predict)*100}')
print(f'Accuracy percentage for Knearest-{accuracy_score(y_test,kn_predict)*100}')
print(f'Accuracy percentage for LogisticRegression-{accuracy_score(y_test,lg_predict)*100}')

Accuracy percentage for Bayes-87.97846889952153
Accuracy percentage for Random Forest-97.188995215311
Accuracy percentage for Decision Tree-97.1291866028708
Accuracy percentage for Knearest-89.95215311004785
Accuracy percentage for LogisticRegression-97.78708133971293

**CLASSIFICATION REPORT OF BAYES NAIVES**

In [48]:
print(classification_report(y_test,bayes_predict))

              precision    recall  f1-score   support

           0       0.99      0.87      0.93      1434
           1       0.55      0.92      0.69       238

    accuracy                           0.88      1672
   macro avg       0.77      0.90      0.81      1672
weighted avg       0.92      0.88      0.89      1672

**CLASSIFICATION REPORT OF Random Forest**

In [49]:
print(classification_report(y_test,rf_predict))

              precision    recall  f1-score   support

           0       0.97      1.00      0.98      1434
           1       1.00      0.80      0.89       238

    accuracy                           0.97      1672
   macro avg       0.98      0.90      0.94      1672
weighted avg       0.97      0.97      0.97      1672

**CLASSIFICATION REPORT OF Decision Tree**

In [50]:
print(classification_report(y_test,dt_predict))

              precision    recall  f1-score   support

           0       0.97      0.99      0.98      1434
           1       0.96      0.84      0.89       238

    accuracy                           0.97      1672
   macro avg       0.97      0.91      0.94      1672
weighted avg       0.97      0.97      0.97      1672

**CLASSIFICATION REPORT OF KNearest**

In [51]:
print(classification_report(y_test,kn_predict))

              precision    recall  f1-score   support

           0       0.90      1.00      0.94      1434
           1       1.00      0.29      0.45       238

    accuracy                           0.90      1672
   macro avg       0.95      0.65      0.70      1672
weighted avg       0.91      0.90      0.87      1672

**CLASSIFICATION REPORT OF Logistic Regression**

In [52]:
print(classification_report(y_test,lg_predict))

              precision    recall  f1-score   support

           0       0.98      1.00      0.99      1434
           1       0.99      0.85      0.92       238

    accuracy                           0.98      1672
   macro avg       0.98      0.93      0.95      1672
weighted avg       0.98      0.98      0.98      1672